<mat-card>
  <h2>Notes (Firebase Realtime Database</h2>
  <form [formGroup]="noteForm" (ngSubmit)="addNote(noteForm.value.note)">
    <mat-form-field>
      <input matInput placeholder="add your note" formControlName="note">
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button color="accent" type="button" (click)="clearNotes()">Delete All</button>
    </div>
  </form>
  <ul>
    <li *ngFor="let note of notes$ | async; trackBy: trackByNote">{{ note }}</li>
  </ul>
</mat-card>

<mat-card>
  <h2>Docs (Firebase Firestore)</h2>
  <form [formGroup]="docsForm" (ngSubmit)="addDoc(docsForm.value)">
    <mat-form-field>
      <input matInput placeholder="title" formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="rating" formControlName="rating" type="number">
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button color="accent" type="button" (click)="clearDocs()">Delete All</button>
    </div>
  </form>
  <ul>
    <li *ngFor="let doc of docs$ | async; trackBy: trackByDoc">
      <p>Title: {{ doc.title }}</p>
      <p>Rating: {{ doc.rating }}</p>
    </li>
  </ul>
</mat-card>