@import '../../../styles/variables';
:host {
  display: block;
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  .fx-1 {
    flex: 1;
  }
  @media screen and (max-width: 700px) {
    div {
      display: none;
    }
  }
  mat-toolbar {
    height: $navbar-height;
  }
}
