<mat-card>
  <div id="hero">
    <h1 class="display-3">Hello, Angular Developer!</h1>
    <p class="lead">Welcome to a blazing fast Angular Universal development starter</p>
    <a mat-raised-button color="primary" href="https://github.com/patrickmichalina/fusing-angular" role="button" angulartics2On="click"
      angularticsAction="ViewRepo"> Github</a>
    <span>&nbsp;</span>
    <a mat-raised-button color="accent" href="https://heroku.com/deploy?template=https://github.com/patrickmichalina/fusing-angular"
      role="button" angulartics2On="click">Deploy to Heroku</a>
  </div>
  <mat-tab-group>
    <mat-tab label="Developer Experience">
      <ul>
        <li>
          <a href="https://github.com/angular/angular/blob/master/CHANGELOG.md" pmExternalLink>Angular</a> as the application framework
        </li>
        <li>
          <a href="https://material.angular.io" pmExternalLink>Angular Material</a> as the UI language and component library</li>
        <li>
          <a href="https://material.io/icons" pmExternalLink>Material</a> SVG icons</li>
        <li>Fully typed build tools and application using
          <a href="https://www.typescriptlang.org/" pmExternalLink>TypeScript</a>
        </li>

        <li>Manage your type definitions using @types (easier than using
          <a href="https://github.com/typings/typings">typings</a>)</li>
        <li>Automatic sitemap generation</li>
        <li>
          <a href="https://mobile.angular.io" pmExternalLink>SCSS</a> support for professional grade CSS management</li>
        <li>Full favicon icon generation for multiple devices derived from a single seed image</li>
        <li>Analyze bundle sizes by using
          <a href="https://github.com/danvk/source-map-explorer">source-map-explorer</a>
        </li>
        <li>Cookies Support</li>
        <li>Simple Ad-Blocker detection service</li>
        <li>Built by
          <a href="https://www.angularuniversal.com">Angular Universal Consulting</a>
        </li>
      </ul>
    </mat-tab>
    <mat-tab label="Testing">
      <ul>
        <li>Angular testing with
          <a href="https://facebook.github.io/jest" pmExternalLink>Jest</a> (faster than Karma)</li>
        <li>End-to-end (e2e) testing with
          <a href="https://github.com/segmentio/nightmare" pmExternalLink>Nightmare</a>
        </li>
        <li>
          <a href="https://circleci.com" pmExternalLink>CircleCI</a> unit testing support</li>
      </ul>
    </mat-tab>
    <mat-tab label="Performance">
      <ul>
        <li>
          <a href="http://fuse-box.org/">FuseBox</a> bundling (faster than
          <a href="https://webpack.github.io/" pmExternalLink>Webpack</a> and
          <a href="http://jspm.io/" pmExternalLink>JSPM</a>)</li>
        <li>
          <a href="https://github.com/google/brotli" pmExternalLink>Brotli compression</a> with
          <a href="http://www.gzip.org" pmExternalLink>gzip</a> fallback</li>
        <li>
          <a href="https://angular.io/guide/aot-compiler#tree-shaking-1" pmExternalLink>Lazy Loaded</a> modules</li>
        <li>
          <a href="https://angular-2-training-book.rangle.io/handout/modules/lazy-loading-module.html" pmExternalLink>Tree-Shaking</a> builds</li>
        <li>Support for
          <a href="https://mobile.angular.io" pmExternalLink>Angular Mobile Toolkit</a> (Service Worker)</li>
      </ul>
    </mat-tab>
    <mat-tab label="Deployments">
      <ul>
        <li>Production and development builds</li>
        <li>Simple
          <a href="https://heroku.com" pmExternalLink>Heroku</a> deployment</li>
      </ul>
    </mat-tab>
    <mat-tab label="SEO">
      <ul>
        <li>HttpStateTransfer for caching server responses on client boostrap (no flickering on load)</li>
        <li>SEO support for Title and Meta tags</li>
        <li>
          <a href="http://ogp.me" pmExternalLink>OG (Open Graph)</a> tags for social sharing</li>
        <li>Vendor-agnostic analytics using
          <a href="https://angulartics.github.io">angulartics2</a>
        </li>
      </ul>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<mat-card style="margin-top: 1em;">
  <h3>Apps built with this starter</h3>
  <ul>
    <li>
      <a href="https://www.flowrestling.org">FloSports</a>
      <span>an Innovator in Live Digital Sports and Original Content</span>
    </li>
    <li>
      <a href="https://app.hip.fit">Hip Fit</a>
      <span>Micro-workouts, stretches and physical therapy inspired exercises.</span>
    </li>
    <li>
      <a href="https://www.notion.ninja">Notion Ninja</a>
      <span>Share and explore startup and business ideas</span>
    </li>
  </ul>
</mat-card>