@import '../styles/mixins';
:host {
  @include fill-vertical;
  .sidenav-container {
    @include fill-vertical;
  }
  #route-wrapper {
    @include fill-vertical;
    padding: 1em;
    @media screen and (max-width: 599px) {
      padding: 0.5em;
    }
    // position: relative;
  }
  .sidenav {
    width: 200px;
  }
  ::ng-deep mat-sidenav-content {
    @include fill-vertical;
  }
  ::ng-deep mat-sidenav-container {
    position: initial;
    .mat-drawer-backdrop.mat-drawer-shown {
      z-index: 111;
      position: fixed;
    }
    mat-sidenav {
      visibility: hidden;
      position: fixed;
      z-index: 900;
    }
  }
  mat-nav-list {
    padding-top: 0;
  }
}
